Schemas/moc/PlanProjectRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    XML-схема, описывающая структуру XML-файла запроса сведений, содержащихся в проекте планировки территории.
    Настоящая схема составлена в соответствии с приложением № 1 к приказу Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 11.12.2023 № 890/пр "Об установлении требований к форматам предоставления сведений, содержащихся в проекте планировки территории и проекте межевания территории".
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Request">
        <xs:annotation>
            <xs:documentation>Запрос сведений, содержащихся в проекте планировки территории</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PlanProject" type="PlanProjectRequestType">
                    <xs:annotation>
                        <xs:documentation>Информация о проекте планировки территории</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PlanProjectRequestType">
        <xs:sequence>
            <xs:element name="Number">
                <xs:annotation>
                    <xs:documentation>Номер документа об утверждении проекта планировки территории</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата документа об утверждении проекта планировки территории</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ObjectName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование объекта капитального строительства</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>